body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333333;
  color: #ffffff;
}

header{
  background-color: #222222;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-right: 20px;
}

.logo img{
  max-height: 100px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline;
  margin-right: 10px;
}

nav ul li a{
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

nav ul li a:hover{
  color: #3388ff;
}

nav ul li a.selected{
  color: #0000ff;
}

section{
  background-color: #444444;
  padding: 20px;
  margin-bottom: 20px;
}

h1, h2{
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

h1{
  font-size: 25px;
  line-height: 0;
}

h2{
  font-size: 28px;
}

.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.box{
  width: 200px;
  height: 200px;
  background-color: #444444;
  color: #ffffff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.box:hover{
  background-color: #3388ff;
}

.box h2{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box p{
  font-size: 14px;
}

.nav-current a{
  color: #3388ff;
}

.footer{
  background-color: #191919;
  padding: 20px;
  text-align: center;
}

.footer a{
  color: #3388ff;
  text-decoration: none;
}

.github-icon{
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.main-section {
  text-align: center;
}
.main-section img {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.equals-section {
  text-align: center;
}
.equals-section img {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.about-text {
  max-width: 600px;
  margin: 0 auto;
}
.description .box,
.equals-section,
.main-section {
  position: relative;
  overflow: hidden;
}
.description .box::before,
.description .box::after,
.equals-section::before,
.equals-section::after,
.main-section::before,
.main-section::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #3388ff;
  transition: width 0.5s;
}
.description .box::before,
.equals-section::before,
.main-section::before {
  top: 0;
}
.description .box::after,
.equals-section::after,
.main-section::after {
  bottom: 0;
}
.description .box:hover::before,
.description .box:hover::after,
.equals-section:hover::before,
.equals-section:hover::after,
.main-section:hover::before,
.main-section:hover::after {
  width: 100%;
}
.description .box::before,
.description .box::after,
.equals-section::before,
.equals-section::after,
.main-section::before,
.main-section::after {
  transition-timing-function: ease-out;
}
.description .box:not(:hover)::before,
.description .box:not(:hover)::after,
.equals-section:not(:hover)::before,
.equals-section:not(:hover)::after,
.main-section:not(:hover)::before,
.main-section:not(:hover)::after {
  left: auto;
  right: 0;
  transition-timing-function: ease-in;
}

.installation-section{
  text-align: center;
}

.installation-section img{
  max-width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.installation-text{
  max-width: 600px;
  margin: 0 auto;
}

.installation-section{
  position: relative;
  overflow: hidden;
}